.canvas {
    border-top: 2px solid gray;
    margin: auto;
    display: block;
}

.latex-renderer-container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F2F2F5;
    height: 20vh;
    font-size: 35px;
}

.canvas-buttons-container {
    display: inline-flex;
    float: left;
    margin-top: 10px;
    margin-bottom: 3px;
}